Package: com.cokepokes.psappotheraudio
Name: PSApp Other Audio
Version: 0.1-2
Description: Allows you to play other app audio when in a party via PlayStation App
Section: Tweaks
Depends: firmware (>= 8.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: CokePokes
dev: 
Homepage: 
Depiction: 
Maintainer: CokePokes
Icon: 

